{% extends "base.j2" %}
{% block title %}Page not found{% endblock %}
{% block body %}
  <h1>Page not found</h1>

  <p>Unfortunately, we couldn't find any page called that..</p>
  <p>Perhaps the web address has changed?</p>

  <script async src="https://cse.google.com/cse.js?cx=16716709005c64982">
  </script>
  <div class="gcse-search"></div>
{% endblock %}
