{% extends "base.j2" %}
{% block title %}{{ region.name|xml_encode }}{% endblock %}
{% block body %}

<h1>
{% if region.parent_region %}<a href="{{ region.parent_region.url_path }}">{{ region.parent_region.name }}</a> / {% endif %}
{{ region.name }}
</h1>

<p>Here is a list of rivers & waterways in OpenStreetMap in {{ region.name }}. The boundaries of {{ region.name }} are taken from <a href="https://www.naturalearthdata.com/downloads/10m-cultural-vectors/">Natural Earth</a> dataset.</p>
<p>Any waterway which touches this region is included, even if it's mostly outside this region. The length is the total length of the river, not the length in this region.</p>

<h2>Rivers</h2>
<details open>
<summary>There are {{ region.num_rivers }} rivers here</summary>
<div class=rivers>
<ul>
	{% for river in rivers %}
		<li><a href="{{ river['url_path'] }}">{{ river['name'] }} ({{ river['length_m']|fmt_length }})</a></li>
	{% endfor %}
</ul>
</div>
</details>

{% if region.subregions|length > 0 %}
<h2>Sub-regions</h2>

<details open>
<summary>{{ region.subregions|length }} subregions</summary>
<p>The list of, and boundaries of, these subdivisions are taken from <a href="https://www.naturalearthdata.com/downloads/10m-cultural-vectors/">Natural Earth</a> dataset.</a>
<div class=subregions>
<ul>
	{% for subregion in region.subregions %}
		<li><a href="{{ subregion.url_path }}">{{ subregion.name }}</a></li>
	{% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}
