{% extends "base.j2" %}
{% block title %}{{ region.name|xml_encode }}{% endblock %}
{% block body %}

<h1>
{% if region.parent_region %}<a href="{{ region.parent_region.url_path }}">{{ region.parent_region.name }}</a> / {% endif %}
{{ region.name }}
</h1>

<p>Here is a list of rivers & waterways in OpenStreetMap in {{ region.name }}. The boundaries of {{ region.name }} are taken from <a href="https://www.naturalearthdata.com/downloads/10m-cultural-vectors/">Natural Earth</a> dataset.</p>
<p>Any waterway which touches this region is included, even if it's mostly outside this region. The length is the total length of the river, not the length in this region. Only rivers longer than 1 km are shown.</p>

<h2 id=rivers>Rivers</h2>
<details open>
<summary>There are {{ region.num_rivers|fmt_num }} rivers here {% if region.num_rivers > rivers|length %}<i>(Only the longest {{ rivers|length|fmt_num }} rivers are shown)</i>{% endif %}.</summary>
<div class=rivers>
<ul>
	{% for river in rivers %}
		<li>
		{{ river_link_name_len(river) }}
		</li>
	{% endfor %}
</ul>
</div>
</details>

{% if region.subregions|length > 0 %}
<h2 id=subregions>Sub-regions</h2>

<details open>
<summary>{{ region.subregions|length|fmt_num }} subregions</summary>
<p>The list of, and boundaries of, these subdivisions are taken from <a href="https://www.naturalearthdata.com/downloads/10m-cultural-vectors/">Natural Earth</a> dataset.</a>
<div class=subregions>
<ul>
	{% for subregion in region.subregions %}
		<li><a href="{{ subregion.url_path }}">{{ subregion.name }}</a>
			{{ subregion["num_rivers"]|fmt_num }} waterway{{ subregion['num_rivers']|pluralize }}
			{%- if subregion["top_rivers"]|length > 0 -%}
				, including: 
				{% for river in subregion["top_rivers"] %}
				{{ loop.first|if_false(", ") }}{{ river_link_name(river) }}
				{% endfor %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}
