{% extends "base.j2" %}
{% block title %}WaterwayMap Rivers{% endblock %}
{% block description %}A complete list of rivers & streams in the world, based on OpenStreetMap data.{% endblock %}
{% block url_path %}{{ url_prefix }}{% endblock %}
{% block body %}

  <h1>WaterwayMap Rivers</h1>

  <p>Here is a directory of all rivers & waterways in the world, take from OpenStreetMap.</a>

  <p>All named rivers are listed in the <a href="{{url_prefix}}name-index/">Name Index</a></p>
  <p>Explore the <a href="{{url_prefix}}region/">rivers country-by country</a>. <i>The boundaries are taken from <a href="https://www.naturalearthdata.com/downloads/10m-cultural-vectors/">Natural Earth</a> dataset.</i></p>

<details open>
  <summary>Top 500 rivers that flow into the sea:</summary>
  <ul>
{%- for river in stream_level0s %}
      <li data-name="{{ river['name'] }}" data-length-m="{{ river['length_m'] }}">
		  {{ river_link_name_len(river) }}
		  in {% for country in river.countries %}<a href="{{ country.url_path|c14n_url_prefix }}">{{ country.name }}</a>
		  {% endfor %}
	  </li>
{%- endfor %}
  </ul>
</details>

{% endblock %}
