{% extends "base.j2" %}
{% block title -%}
{{ name|default("An unnamed river", true)|xml_encode }} | {{length_m|fmt_length }}, {% for r in is_in_regions %}{{ loop.first|if_false(", ") }}{{ r['name'] }}{% endfor %}
{%- endblock %}

{% block description %}{{name|default("This unnamed river", true)|xml_encode}} is {{length_m|fmt_length}} long, with {{ num_distributaries }} distributaries and {{ num_tributaries }} tributaries, with max. upstream of {{ max_upstream_m|fmt_length }}{% endblock %}
{% block url_path %}{{ url }}{% endblock %}
{% block extra_head_content %}
    <script src="{{ url_prefix }}js/river_map.js"></script>
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    set_up_map("{{ url }}geometry.geojson", {{bbox}});
  });
</script>
{% endblock %}
{% block body %}
  <h1>{{ name|default("An unnamed river", true) }}</h1>

  <p>Based on OpenStreetMap data, {{name|default("this unnamed river", true)}} is {{length_m|fmt_length}} long.</p>

  {% if is_in_regions|length == 1 %}
  <p>{{ name|default("It", true) }} is in <a href="{{ ('region/' + is_in_regions[0]["url_path"])|c14n_url_prefix }}">{{ is_in_regions[0].name }}</a>, flowing through the subregions of {% for subregion in is_in_regions[0]["subregions"] %}{{ loop.first|if_false(", ") }}<a href="{{ ( 'region/'+subregion.url_path)|c14n_url_prefix }}">{{ subregion.name }}</a>{% endfor %}</p>
  {% elif is_in_regions|length > 1 %}
  <p>{{ name|default("It", true) }} flows through {{ is_in_regions|length }} countries:
  <ul>
	  {% for region in is_in_regions %}
	  <li>
		<a href="{{ ('region/'+ region.url_path)|c14n_url_prefix }}">{{ region.name }}</a>, flowing through the subregions of {% for subregion in region["subregions"] %}{{ loop.first|if_false(", ") }}<a href="{{ ('region/'+subregion.url_path)|c14n_url_prefix }}">{{ subregion.name }}</a>{% endfor %}
	  </li>
      {% endfor %}
	</ul>
  {% endif %}

  <h2 id="map">Map</h2>
  <div id="map_div" style="width: 100%; height: 500px;"></div>
      <div>
        This area:
        <a
          id="open_on_wwm"
          x-data
          href="#"
          class="inline_centre"
          target="_blank"
          @click.prevent="let map = document.map; let url = `https://waterwaymap.org/#map=${Math.round(map.getZoom())}/${map.getBounds().getCenter().lat}/${map.getBounds().getCenter().lng}`; window.open(url);"
          @auxclick.prevent="let map = document.map; let url = `https://waterwaymap.org/#map=${Math.round(map.getZoom())}/${map.getBounds().getCenter().lat}/${map.getBounds().getCenter().lng}`; window.open(url);"
        >
          WaterwayMap main
          <img src="{{url_prefix}}img/open_ext.svg" style="height: 1em" />
        </a>
        <a
          id="open_on_osm"
          x-data
          href="#"
          class="inline_centre"
          target="_blank"
          @click.prevent="let map = document.map; let url = `https://www.openstreetmap.org/#map=${Math.round(map.getZoom())}/${map.getBounds().getCenter().lat}/${map.getBounds().getCenter().lng}`; window.open(url);"
          @auxclick.prevent="let url = `https://www.openstreetmap.org/#map=${Math.round(map.getZoom())}/${map.getBounds().getCenter().lat}/${map.getBounds().getCenter().lng}`; window.open(url);"
        >
          <img
            src="{{url_prefix}}img/osm.png"
            alt="OpenStreetMap logo"
            style="height: 1em"
          />
          osm.org <img src="{{url_prefix}}img/open_ext.svg" style="height: 1em" />
        </a>
		<a href="{{ (url_path + "/geometry.geojson")|c14n_url_prefix }}" download="{{ url_path }}.geojson">
			Download GeoJSON
		</a>
        <span id="open_in_josm" x-data="{show_josm_not_running: false}">
          <button
            class="inline_centre"
			title="Edit in JOSM"
            @click="let map = document.map; let b = map.getBounds();
			let josm_url = `http://localhost:8111/import?layer_name={{ name }}&upload=never&new_layer=true&changeset_source=${encodeURIComponent(location.href)}&changeset_hashtags=${encodeURIComponent('#WaterwayMapOrg')}&url=${encodeURIComponent(location.href+'geometry.geojson')}`;
			let res_ok = await fetch(josm_url).then(r => r.ok).catch(e => false);
			this.disabled = false;
			if (!res_ok) {
				show_josm_not_running = true;
				setTimeout(() => show_josm_not_running=false, 5000);
			}"
          >
            <img src="{{url_prefix}}img/josm.svg" alt="JOSM logo" style="height: 1em" /> edit waterway
            in josm <img src="{{url_prefix}}img/open_ext.svg" style="height: 1em" />
          </button>
          <span x-transition x-show="show_josm_not_running"
            >JOSM isn't running...</span
          >
        </span>
        <span id="open_in_id" x-data>
          <button
            class="inline_centre"
            class="inline_centre"
            @click.prevent="let map = document.map; let url = `https://www.openstreetmap.org/edit?editor=id#&source=${encodeURIComponent(location.href)}&hashtags=${encodeURIComponent('#WaterwayMapOrg')}&map=${Math.round(map.getZoom())}/${map.getBounds().getCenter().lat}/${map.getBounds().getCenter().lng}`;
						window.open(url);"
            @auxclick.prevent="let url = `https://www.openstreetmap.org/edit?editor=id#&source=${encodeURIComponent(location.href)}&hashtags=${encodeURIComponent('#WaterwayMapOrg')}&map=${Math.round(map.getZoom())}/${map.getBounds().getCenter().lat}/${map.getBounds().getCenter().lng}`;
						window.open(url);"
          >
            <img src="{{url_prefix}}img/id.svg" alt="iD logo" style="height: 1em" />
            edit map in iD <img src="{{url_prefix}}img/open_ext.svg" style="height: 1em" />
          </button>
        </span>
      </div>

  <h2>Distributaries / Outflows</h2>

  {% if side_channels %}
  <p>
  It has {{ side_channels|length }} side channels. (TODO fill in side channels)
  </p>
  {% endif %}


  <div id=distributaries>
  <p>
  {% if distributaries_sea %}
    {{ name|default("It", true) }} flows into the sea:
    {% for dist in distributaries_sea %}
      {{ dist['upstream_m']|fmt_length }} of total upstream flows in at {{ dist|fmt_latlng }} at OSM node {{ dist['nid']|fmt_nid }}.
    {% endfor %}
  {% endif %}
  {% if terminal_distributaries|length == 1 %}
	{{ name|default("It", true) }} flows into {{ river_link_name(terminal_distributaries[0]) }}
    {%- if terminal_distributaries[0]['confluences']|length == 1 %}
      , which it joins at
      {{ terminal_distributaries[0]['confluences'][0]|fmt_latlng }}
      at OSM node {{ terminal_distributaries[0]['confluences'][0]['nid']|fmt_nid }},
      and there {{ terminal_distributaries[0]['confluences'][0]['upstream_m']|fmt_length }} of total upstream flows in.
    {%- elif terminal_distributaries[0]['confluences']|length > 1 %}
      , which it joins at the following points:
        {% for conf in terminal_distributaries[0]['confluences'] %}
          {{ conf['upstream_m']|fmt_length }} of total upstream flows in at
          {{ conf |fmt_latlng }}
          at OSM node {{ conf['nid']|fmt_nid }}
        {% endfor %}
    {% endif %}
    {% if 'url_path' in terminal_distributaries[0] %}
      <button class="btn btn-outline-secondary btn-sm"
        hx-select="#distributaries > *" hx-get="{{ terminal_distributaries[0]['url_path']|c14n_url_prefix }}/"
        hx-swap=outerHTML>load it's distributaries</button>
    {% endif %}
  {% elif terminal_distributaries|length > 1 %}
	{{ name|default("It", true) }} has {{ terminal_distributaries|length }} distributaries.
    <ul>
      {% for dist in terminal_distributaries %}
      <li>
		{{ river_link_name(dist) }}
        {%- if dist['confluences']|length == 1 %}
          , which it joins at
          {{ dist['confluences'][0] |fmt_latlng }}
          at OSM node {{ dist['confluences'][0]['nid']|fmt_nid }},
          and {{ dist['confluences'][0]['upstream_m']|fmt_length }} of total upstream flows in.
        {%- elif dist['confluences']|length > 1 %}
          , which it joins at the following points:
          {% for conf in dist['confluences'] %}
            {{ conf['upstream_m']|fmt_length }} of total upstream flows in at
            {{ conf|fmt_latlng }}
            at OSM node {{ conf['nid']|fmt_nid }}.
          {% endfor %}
        {% endif %}
        {% if 'url_path' in dist %}
          <button class="btn btn-outline-secondary btn-sm" hx-select="#distributaries > *" hx-get="{{ dist['url_path']|c14n_url_prefix }}/" hx-swap=outerHTML >load it's distributaries</button>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </p>
  </div>


  <h2>Tributaries</h2>
  <div id=tributaries>
  <p>{{ name|default("It", true) }} has {{ tributaries|length }} tributaries.</p>
  <ul>
  {% for trib in tributaries %}
    <li data-name="{{ trib['name'] }}">
      {{ river_link_name(trib) }}
      {%- if trib['confluences']|length == 1 %}, which joins it at {{ trib['confluences'][0]|fmt_latlng }} at OSM node {{ trib['confluences'][0]['nid']|fmt_nid }}, and {{ trib['confluences'][0]['upstream_m']|fmt_length }} of total upstream flows in.
      {%- elif trib['confluences']|length > 1 %}
        , which joins it at the following points:
          {% for conf in trib['confluences'] %}
            {{ conf['upstream_m']|fmt_length }} of total upstream flows in at
            {{ conf |fmt_latlng }}
            at OSM node {{ conf['nid']|fmt_nid }}
          {% endfor %}
      {% endif %}
    {% if 'url_path' in trib %}
      <div>
      <button 
        class="btn btn-outline-secondary btn-sm"
        hx-select="#tributaries > *" hx-get="{{ trib['url_path']|c14n_url_prefix }}/" hx-swap=outerHTML>
        load it's tributaries</button>
      </div>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  </div>

{% endblock %}
