{% extends "base.j2" %}
{% block title %}Search for a River or Waterway{% endblock %}
{% block body %}
  <h1>Search the WaterwayMap River Database</h1>

  <p>Search this website using Google:</p>

  <script async src="https://cse.google.com/cse.js?cx=16716709005c64982">
  </script>
  <div class="gcse-search"></div>
{% endblock %}
